.featured{
    height: 600px;
    display: flex;
    justify-content: center;
    background-color: #013914;
    color: white;

    .container{
        width: 1400px;
        display: flex;
        align-items: center;

        .left{
            display: flex;
            flex-direction: column;
            gap: 30px;
            width: 60%;

            h1{
                font-size: 50px;
            }

            .search{
                display: flex;
                align-items: center;
                height: 42px;

                .searchInput{
                    display: flex;
                    align-items: center;
                    background-color: white;
                    border-radius: 5px 0 0 5px;
                    gap: 10px;
                    width: 70%;
                    height: 100%;

                    img{
                        height: 20px;
                        width: 20px;
                        margin:10px;
                    }

                    input{
                        border: none;
                        outline: none;
                        width: 100%;
                        padding: 5px;
                        font-size: 1.1rem;
                    }
                }

                button{
                    width: 10%;
                    height: 100%;
                    padding: 5px 10px;
                    border: none;
                    background-color: #1dbf73;
                    border-radius: 0 5px 5px 0;
                    font-size: 1rem;
                    color: white;
                    cursor: pointer;
                }
            }

            .popular{
                display: flex;
                align-items: center;
                gap: 10px;
                

                span{

                }
                button{
                    background-color: transparent;
                    color: white;
                    border-radius: 20px;
                    padding: 5px 10px;
                    border: 1px solid white;
                    cursor: pointer;
                }
            }
        }
        .right{
            height: 100%;
            
            img{
                height: 100%;
                object-fit: contain;
            }
        }

    }
}